
<table width='100%'>
<tr>
    <td><form><button type="button" (click)="DrawImage()"  >Draw Image  </button></form></td>
    <td><form><button type="button" (click)="ClearCanvas()">Clear Canvas</button></form></td> 
    <td><form><button type="button" >Download</button></form></td>
    <td><form><button type="button" >Undo</button></form></td>
    <td><form><button type="button" >Redo</button></form></td>
</tr>
<tr>
    <td><form><button type="button" >Pen</button></form></td> 
    <td><form><button type="button" >Eraser</button></form></td>
    <td><form><button type="button" >Line</button></form></td>
    <td><form><button type="button" >Rectangle</button></form></td>
    <td><form><button type="button" >Circle</button></form></td>
    <td><form><button type="button" >Heart</button></form></td>
    <td><form><button type="button" >Square</button></form></td>
    <td><form><button type="button" >Triangle</button></form></td>
</tr>
</table>

<canvas id="myCanvas" width="1200" height="800" style="border:1px solid #d3d3d3;">
    Can't use HTML5 canvas.
</canvas>

